* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CUSTOM CLASSES */
.hide {
    display: none;
}
/* HEADER */
header {
    background-color: rgb(48, 48, 48);
    color: white; 
}
header nav {
   display: flex;
}
header button {
    border-bottom: none;
    color: black; 
    border-radius: 5px 5px 0 0;
}
header button:hover {
    background-color: rgb(151, 151, 151);
}
header button:active {
    background-color: rgb(151, 151, 151);
}
/* INFO-TAB */


/* MAIN-TAB */
/* table spacing */
#rawes-data {
    width: 90%; 
}
table {
    width: 100%; 
    text-align: center;
    margin-bottom: 20px ; 
}
tr div {
    float: right;
    margin-right: -50px; 
    width: 50px;
    height: 25px; 
    height: 100%; 
}
tbody th{
    width: 30%; 
    font-weight: bold;
}
tbody td {
    width: 12%; 
}

/* title textareas boxes */
th textarea {
    width: 100%; 
    border: none;
    background: none;
    font-weight: bold;
}
/* table background colours */
thead {
    background-color: black;
    color: white; 
}
tr:nth-child(even) th textarea {
    color: white; 
}
/* provisioning table */
#provisioning-table tbody tr:nth-child(even) {
    background-color: rgb(42 88 42);
}
#provisioning-table tbody tr:nth-child(odd) {
    background-color: #a6d0a6;
}

/* regulating table */
#regulating-table tbody tr:nth-child(even) {
    background-color: #18188f;
}
#regulating-table tbody tr:nth-child(odd) {
    background-color: lightblue;
}

/* cultural table */
#cultural-table tbody tr:nth-child(even) {
    background-color: rgb(121, 121, 19);
}
#cultural-table tbody tr:nth-child(odd) {
    background-color: rgb(255, 255, 195);
}

/* supporting table */
#supporting-table tbody tr:nth-child(even) {
    background-color: rgb(105 12 12);
}
#supporting-table tbody tr:nth-child(odd) {
    background-color: rgb(226, 181, 188);
}

/* button styling */
#main-tab button {
    border-radius: 50%;
    border: none; 
    width: 45%; 
 
 }
 .new-row {
     background-color: green;
 }
 .delete-row {
     background-color: red;
 }
